@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "My Podcasts";
}

<div class="text-center">
    <h1 class="display-4">My Favourite Website</h1>

    <br />
    <a href="https://baconsale.com/">BACONSALEA, Hickory-Smoked Pop Culture Podcast</a>

</div>
